"{id:int}"
@using FinalProject.UI
@model DepartmentDto
<h3 class="text-secondary">Edit Department</h3>

<form method="post" class="col-9">
    <input type="hidden" asp-for="@Model.DepartmentId" />
    <div class="form-group mb-3">
        <label asp-for="@Model.DeptName" class="form-label">Department Name</label>
        <input asp-for="@Model.DeptName" class="form-control" />
        <span asp-validation-for="@Model.DeptName" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="@Model.HODName" class="form-label">HOD Name</label>
        <input asp-for="@Model.HODName" class="form-control" />
        <span asp-validation-for="@Model.HODName" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="@Model.PhoneExtensionNo" class="form-label">Phone Extension No</label>
        <input asp-for="@Model.PhoneExtensionNo" class="form-control" />
        <span asp-validation-for="@Model.PhoneExtensionNo" class="text-danger"></span>
    </div>  

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

<a asp-action="Index" asp-controller="Department" class="btn btn-secondary mt-3">Back to List</a>
